<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

<!-- Favicon -->
<link rel="shortcut icon" href="/favicon.ico?update" type="image/x-icon">
<link rel="icon" href="/favicon.ico?update" type="image/x-icon">

<!-- Latex CSS -->
<link rel="stylesheet" href="https://latex.vercel.app/style.css">

<!-- Math rendering -->
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- swup -->
<script src="https://unpkg.com/swup@4"></script>
<!-- Local Resources -->
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<!-- Social Metas -->
{{- partial "opengraph/opengraph.html" . -}}
{{- partial "opengraph/twitter_cards.html" . -}}
